<p id="notice"><%= notice %></p>

<h1>Api Sessions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_sessions.each do |api_session| %>
      <tr>
        <td><%= link_to 'Show', api_session %></td>
        <td><%= link_to 'Edit', edit_api_session_path(api_session) %></td>
        <td><%= link_to 'Destroy', api_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Session', new_api_session_path %>
