<p id="notice"><%= notice %></p>

<h1>Api Channels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_channels.each do |api_channel| %>
      <tr>
        <td><%= link_to 'Show', api_channel %></td>
        <td><%= link_to 'Edit', edit_api_channel_path(api_channel) %></td>
        <td><%= link_to 'Destroy', api_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Channel', new_api_channel_path %>
